include AUTHORS.md
include CONTRIBUTING.md
include HISTORY.md
include LICENSE
include README.md
recursive-include front_end_validators *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
recursive-include front_end_validators/static *
recursive-include front_end_validators/templates *
